<h1>Demo home page!</h1>

<p>This page does not use React Router, but could be easily configured to do so.</p>

<h4>Stateless React Component</h4>
<div id="stateless"></div>

<h4>Stateful React Component</h4>
<div id="stateful"></div>
